:root {
  --card-background: var(--theme-secondary-900);
  --card-border: 1px solid hsl(var(--theme-secondary-700));
  --card-text: var(--theme-secondary-text-900);
}

.card {
  --form-label: var(--card-text);
  --form-label-hover: var(--card-text);
  --form-label-focus-active: var(--card-text);
  --form-label-checked: var(--card-text);
}

.card {
  font-size: 1rem;
  position: relative;
  color: hsl(var(--card-text));
}

.card__body {
  background-color: hsl(var(--card-background));
  padding: var(--layout-gutter);
  border: var(--card-border);
  border-radius: calc(var(--theme-radius) * 4);
  min-width: 4em;
  min-height: 4em;
  box-shadow: var(--theme-secondary-shadow);
  display: flex;
  flex-direction: column;
  transition: background-color var(--layout-transition-extra-fast), border var(--layout-transition-extra-fast);
}
