.button__primary {
  --button-background: var(--theme-primary-300);
  --button-background-focus-hover: var(--theme-primary-500);
  --button-background-active: var(--theme-primary-600);
  --button-background-disabled: var(--theme-secondary-600);
  --button-text: var(--theme-secondary-900);
  --button-text-focus-hover: var(--theme-text);
  --button-text-active: var(--theme-text);
  --button-text-disabled: var(--theme-secondary-500);
}

.button__secondary {
  --button-background: var(--theme-secondary-300);
  --button-background-focus-hover: var(--theme-secondary-500);
  --button-background-active: var(--theme-secondary-600);
  --button-background-disabled: var(--theme-secondary-600);
  --button-text: var(--theme-secondary-900);
  --button-text-focus-hover: var(--theme-text);
  --button-text-active: var(--theme-text);
  --button-text-disabled: var(--theme-secondary-500);
}

.button__success {
  --button-background: var(--theme-success-300);
  --button-background-focus-hover: var(--theme-success-500);
  --button-background-active: var(--theme-success-600);
  --button-background-disabled: var(--theme-secondary-600);
  --button-text: var(--theme-success-900);
  --button-text-focus-hover: var(--theme-text);
  --button-text-active: var(--theme-text);
  --button-text-disabled: var(--theme-secondary-500);
}

.button__danger {
  --button-background: var(--theme-danger-300);
  --button-background-focus-hover: var(--theme-danger-500);
  --button-background-active: var(--theme-danger-600);
  --button-background-disabled: var(--theme-secondary-600);
  --button-text: var(--theme-danger-900);
  --button-text-focus-hover: var(--theme-text);
  --button-text-active: var(--theme-text);
  --button-text-disabled: var(--theme-secondary-500);
}

.button__link {
  /* --button-background: var(--theme-danger-300); */
  --button-background-focus-hover: var(--theme-secondary-700);
  --button-background-active: var(--theme-secondary-600);
  --button-background-disabled: var(--theme-secondary-600);
  --button-text: var(--theme-secondary-300);
  --button-text-focus-hover: var(--theme-secondary-100);
  --button-text-active: var(--theme-secondary-100);
  --button-text-disabled: var(--theme-secondary-500);
}

.is-theme-light .button__primary,
.is-theme-light .button__secondary,
.is-theme-light .button__danger,
.is-theme-light .button__success,
.is-theme-light .button__link {
  --theme-text: var(--theme-white);
}

.is-theme-dark .button__primary,
.is-theme-dark .button__secondary,
.is-theme-dark .button__danger,
.is-theme-dark .button__success,
.is-theme-dark .button__link {
  --theme-text: var(--theme-black);
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: hsl(var(--button-background));
  padding: 0.25em 1.5em;
  margin: 0;
  color: hsl(var(--button-text));
  font-size: 1em;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-ui-style);
  min-height: 2.5em;
  line-height: 1;
  border: 0;
  border-radius: calc(var(--theme-radius) * 10);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color var(--layout-transition-extra-fast), color var(--layout-transition-extra-fast);
}

button:focus,
button:hover,
.button:focus,
.button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: hsl(var(--button-background-focus-hover));
  color: rgb(var(--button-text-focus-hover));
  outline: none;
  text-decoration: none;
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: hsl(var(--button-background-active));
  color: rgb(var(--button-text-active));
  outline: none;
  text-decoration: none;
  transition: none;
}

button.active,
.button.active {
  color: hsl(var(--button-text-focus-active));
}

button.disabled,
button.disabled:hover,
button.disabled:focus,
button.disabled:active,
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
button:disabled,
button:disabled:hover,
button:disabled:focus,
button:disabled:active,
.button:disabled,
.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active {
  background-color: hsl(var(--button-background-disabled));
  color: hsl(var(--button-text-disabled));
  cursor: default;
  text-decoration: none;
}

.button__ring {
  transition: background-color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
}

.button__ring.button__primary:focus {
  box-shadow: var(--theme-focus-primary);
}

.button__ring.button__primary:active,
.button__ring.button__primary.active {
  box-shadow: var(--theme-focus-primary);
}

.button__ring.button__secondary:focus {
  box-shadow: var(--theme-focus-secondary);
}

.button__ring.button__secondary:active,
.button__ring.button__secondary.active {
  box-shadow: var(--theme-focus-secondary);
}

.button__ring.button__danger:focus {
  box-shadow: var(--theme-focus-danger);
}

.button__ring.button__danger:active,
.button__ring.button__danger.active {
  box-shadow: var(--theme-focus-danger);
}

.button__ring.button__success:focus {
  box-shadow: var(--theme-focus-success);
}

.button__ring.button__success:active,
.button__ring.button__success.active {
  box-shadow: var(--theme-focus-success);
}

.button__ring.disabled,
.button__ring:disabled,
.button__ring.disabled:focus,
.button__ring:disabled:focus,
.button__ring.disabled:hover,
.button__ring:disabled:hover,
.button__ring.disabled:active,
.button__ring:disabled:active {
  box-shadow: none;
}

.button-text {
  pointer-events: none;
}

.button__round {
  padding: 0;
  width: 2em;
  height: 2em;
  min-height: 2em;
}

button .icon,
.button .icon {
  line-height: 1;
  font-size: 1.5em;
}

.button__small {
  font-size: 0.75em;
}

.button__large {
  font-size: 1.2em;
}

.button__block {
  display: flex;
  width: 100%;
}

button [class^="button-"],
button [class*=" button-"],
.button [class^="button-"],
.button [class*=" button-"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

button [class^="button-"]:first-child,
button [class*=" button-"]:first-child,
.button [class^="button-"]:first-child,
.button [class*=" button-"]:first-child {
  margin-left: 0;
}

button [class^="button-"]:last-child,
button [class*=" button-"]:last-child,
.button [class^="button-"]:last-child,
.button [class*=" button-"]:last-child {
  margin-right: 0;
}

.button__link {
  background-color: transparent;
}
