:root {
  --theme-black: 20, 20, 20;
  --theme-white: 250, 250, 250;
  --theme-background: var(--theme-secondary-900);
}

.is__theme-light {
  --theme-text: var(--theme-black);
}

.is__theme-dark {
  --theme-text: var(--theme-white);
}

:root {
  --theme-radius-size: 40;
  --theme-radius: calc(calc(var(--theme-radius-size) / 100) * 1em);
}

:root {
  --theme-primary-1: var(--theme-primary-1-h), calc(var(--theme-primary-1-s) * 1%), calc(var(--theme-primary-1-l) * 1%);
  --theme-primary-2: var(--theme-primary-2-h), calc(var(--theme-primary-2-s) * 1%), calc(var(--theme-primary-2-l) * 1%);
  --theme-primary-3: var(--theme-primary-3-h), calc(var(--theme-primary-3-s) * 1%), calc(var(--theme-primary-3-l) * 1%);
  --theme-primary-4: var(--theme-primary-4-h), calc(var(--theme-primary-4-s) * 1%), calc(var(--theme-primary-4-l) * 1%);
  --theme-primary-5: var(--theme-primary-5-h), calc(var(--theme-primary-5-s) * 1%), calc(var(--theme-primary-5-l) * 1%);
  --theme-primary-6: var(--theme-primary-6-h), calc(var(--theme-primary-6-s) * 1%), calc(var(--theme-primary-6-l) * 1%);
  --theme-primary-7: var(--theme-primary-7-h), calc(var(--theme-primary-7-s) * 1%), calc(var(--theme-primary-7-l) * 1%);
  --theme-primary-8: var(--theme-primary-8-h), calc(var(--theme-primary-8-s) * 1%), calc(var(--theme-primary-8-l) * 1%);
  --theme-primary-9: var(--theme-primary-9-h), calc(var(--theme-primary-9-s) * 1%), calc(var(--theme-primary-9-l) * 1%);
  --theme-secondary-1: var(--theme-secondary-1-h), calc(var(--theme-secondary-1-s) * 1%), calc(var(--theme-secondary-1-l) * 1%);
  --theme-secondary-2: var(--theme-secondary-2-h), calc(var(--theme-secondary-2-s) * 1%), calc(var(--theme-secondary-2-l) * 1%);
  --theme-secondary-3: var(--theme-secondary-3-h), calc(var(--theme-secondary-3-s) * 1%), calc(var(--theme-secondary-3-l) * 1%);
  --theme-secondary-4: var(--theme-secondary-4-h), calc(var(--theme-secondary-4-s) * 1%), calc(var(--theme-secondary-4-l) * 1%);
  --theme-secondary-5: var(--theme-secondary-5-h), calc(var(--theme-secondary-5-s) * 1%), calc(var(--theme-secondary-5-l) * 1%);
  --theme-secondary-6: var(--theme-secondary-6-h), calc(var(--theme-secondary-6-s) * 1%), calc(var(--theme-secondary-6-l) * 1%);
  --theme-secondary-7: var(--theme-secondary-7-h), calc(var(--theme-secondary-7-s) * 1%), calc(var(--theme-secondary-7-l) * 1%);
  --theme-secondary-8: var(--theme-secondary-8-h), calc(var(--theme-secondary-8-s) * 1%), calc(var(--theme-secondary-8-l) * 1%);
  --theme-secondary-9: var(--theme-secondary-9-h), calc(var(--theme-secondary-9-s) * 1%), calc(var(--theme-secondary-9-l) * 1%);
  --theme-success-1: var(--theme-success-1-h), calc(var(--theme-success-1-s) * 1%), calc(var(--theme-success-1-l) * 1%);
  --theme-success-2: var(--theme-success-2-h), calc(var(--theme-success-2-s) * 1%), calc(var(--theme-success-2-l) * 1%);
  --theme-success-3: var(--theme-success-3-h), calc(var(--theme-success-3-s) * 1%), calc(var(--theme-success-3-l) * 1%);
  --theme-success-4: var(--theme-success-4-h), calc(var(--theme-success-4-s) * 1%), calc(var(--theme-success-4-l) * 1%);
  --theme-success-5: var(--theme-success-5-h), calc(var(--theme-success-5-s) * 1%), calc(var(--theme-success-5-l) * 1%);
  --theme-success-6: var(--theme-success-6-h), calc(var(--theme-success-6-s) * 1%), calc(var(--theme-success-6-l) * 1%);
  --theme-success-7: var(--theme-success-7-h), calc(var(--theme-success-7-s) * 1%), calc(var(--theme-success-7-l) * 1%);
  --theme-success-8: var(--theme-success-8-h), calc(var(--theme-success-8-s) * 1%), calc(var(--theme-success-8-l) * 1%);
  --theme-success-9: var(--theme-success-9-h), calc(var(--theme-success-9-s) * 1%), calc(var(--theme-success-9-l) * 1%);
  --theme-danger-1: var(--theme-danger-1-h), calc(var(--theme-danger-1-s) * 1%), calc(var(--theme-danger-1-l) * 1%);
  --theme-danger-2: var(--theme-danger-2-h), calc(var(--theme-danger-2-s) * 1%), calc(var(--theme-danger-2-l) * 1%);
  --theme-danger-3: var(--theme-danger-3-h), calc(var(--theme-danger-3-s) * 1%), calc(var(--theme-danger-3-l) * 1%);
  --theme-danger-4: var(--theme-danger-4-h), calc(var(--theme-danger-4-s) * 1%), calc(var(--theme-danger-4-l) * 1%);
  --theme-danger-5: var(--theme-danger-5-h), calc(var(--theme-danger-5-s) * 1%), calc(var(--theme-danger-5-l) * 1%);
  --theme-danger-6: var(--theme-danger-6-h), calc(var(--theme-danger-6-s) * 1%), calc(var(--theme-danger-6-l) * 1%);
  --theme-danger-7: var(--theme-danger-7-h), calc(var(--theme-danger-7-s) * 1%), calc(var(--theme-danger-7-l) * 1%);
  --theme-danger-8: var(--theme-danger-8-h), calc(var(--theme-danger-8-s) * 1%), calc(var(--theme-danger-8-l) * 1%);
  --theme-danger-9: var(--theme-danger-9-h), calc(var(--theme-danger-9-s) * 1%), calc(var(--theme-danger-9-l) * 1%);
}

.is__theme-dark {
  --theme-primary-100: var(--theme-primary-9);
  --theme-primary-200: var(--theme-primary-8);
  --theme-primary-300: var(--theme-primary-7);
  --theme-primary-400: var(--theme-primary-6);
  --theme-primary-500: var(--theme-primary-5);
  --theme-primary-600: var(--theme-primary-4);
  --theme-primary-700: var(--theme-primary-3);
  --theme-primary-800: var(--theme-primary-2);
  --theme-primary-900: var(--theme-primary-1);
  --theme-secondary-100: var(--theme-secondary-9);
  --theme-secondary-200: var(--theme-secondary-8);
  --theme-secondary-300: var(--theme-secondary-7);
  --theme-secondary-400: var(--theme-secondary-6);
  --theme-secondary-500: var(--theme-secondary-5);
  --theme-secondary-600: var(--theme-secondary-4);
  --theme-secondary-700: var(--theme-secondary-3);
  --theme-secondary-800: var(--theme-secondary-2);
  --theme-secondary-900: var(--theme-secondary-1);
  --theme-success-100: var(--theme-success-9);
  --theme-success-200: var(--theme-success-8);
  --theme-success-300: var(--theme-success-7);
  --theme-success-400: var(--theme-success-6);
  --theme-success-500: var(--theme-success-5);
  --theme-success-600: var(--theme-success-4);
  --theme-success-700: var(--theme-success-3);
  --theme-success-800: var(--theme-success-2);
  --theme-success-900: var(--theme-success-1);
  --theme-danger-100: var(--theme-danger-9);
  --theme-danger-200: var(--theme-danger-8);
  --theme-danger-300: var(--theme-danger-7);
  --theme-danger-400: var(--theme-danger-6);
  --theme-danger-500: var(--theme-danger-5);
  --theme-danger-600: var(--theme-danger-4);
  --theme-danger-700: var(--theme-danger-3);
  --theme-danger-800: var(--theme-danger-2);
  --theme-danger-900: var(--theme-danger-1);
}

.is__theme-light {
  --theme-primary-100: var(--theme-primary-1);
  --theme-primary-200: var(--theme-primary-2);
  --theme-primary-300: var(--theme-primary-3);
  --theme-primary-400: var(--theme-primary-4);
  --theme-primary-500: var(--theme-primary-5);
  --theme-primary-600: var(--theme-primary-6);
  --theme-primary-700: var(--theme-primary-7);
  --theme-primary-800: var(--theme-primary-8);
  --theme-primary-900: var(--theme-primary-9);
  --theme-secondary-100: var(--theme-secondary-1);
  --theme-secondary-200: var(--theme-secondary-2);
  --theme-secondary-300: var(--theme-secondary-3);
  --theme-secondary-400: var(--theme-secondary-4);
  --theme-secondary-500: var(--theme-secondary-5);
  --theme-secondary-600: var(--theme-secondary-6);
  --theme-secondary-700: var(--theme-secondary-7);
  --theme-secondary-800: var(--theme-secondary-8);
  --theme-secondary-900: var(--theme-secondary-9);
  --theme-success-100: var(--theme-success-1);
  --theme-success-200: var(--theme-success-2);
  --theme-success-300: var(--theme-success-3);
  --theme-success-400: var(--theme-success-4);
  --theme-success-500: var(--theme-success-5);
  --theme-success-600: var(--theme-success-6);
  --theme-success-700: var(--theme-success-7);
  --theme-success-800: var(--theme-success-8);
  --theme-success-900: var(--theme-success-9);
  --theme-danger-100: var(--theme-danger-1);
  --theme-danger-200: var(--theme-danger-2);
  --theme-danger-300: var(--theme-danger-3);
  --theme-danger-400: var(--theme-danger-4);
  --theme-danger-500: var(--theme-danger-5);
  --theme-danger-600: var(--theme-danger-6);
  --theme-danger-700: var(--theme-danger-7);
  --theme-danger-800: var(--theme-danger-8);
  --theme-danger-900: var(--theme-danger-9);
}

:root {
  --theme-t: 0.5;
  /* calculates perceived lightness using the sRGB Luma method */
  --theme-t-r: 0.2721;
  --theme-t-g: 0.7152;
  --theme-t-b: 0.1255;
}

.is__theme-light {
  --theme-primary-text-100: 0, 0%, calc(((((var(--theme-primary-1-r) * var(--theme-t-r)) + (var(--theme-primary-1-g) * var(--theme-t-g)) + (var(--theme-primary-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-200: 0, 0%, calc(((((var(--theme-primary-2-r) * var(--theme-t-r)) + (var(--theme-primary-2-g) * var(--theme-t-g)) + (var(--theme-primary-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-300: 0, 0%, calc(((((var(--theme-primary-3-r) * var(--theme-t-r)) + (var(--theme-primary-3-g) * var(--theme-t-g)) + (var(--theme-primary-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-400: 0, 0%, calc(((((var(--theme-primary-4-r) * var(--theme-t-r)) + (var(--theme-primary-4-g) * var(--theme-t-g)) + (var(--theme-primary-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-500: 0, 0%, calc(((((var(--theme-primary-5-r) * var(--theme-t-r)) + (var(--theme-primary-5-g) * var(--theme-t-g)) + (var(--theme-primary-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-600: 0, 0%, calc(((((var(--theme-primary-6-r) * var(--theme-t-r)) + (var(--theme-primary-6-g) * var(--theme-t-g)) + (var(--theme-primary-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-700: 0, 0%, calc(((((var(--theme-primary-7-r) * var(--theme-t-r)) + (var(--theme-primary-7-g) * var(--theme-t-g)) + (var(--theme-primary-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-800: 0, 0%, calc(((((var(--theme-primary-8-r) * var(--theme-t-r)) + (var(--theme-primary-8-g) * var(--theme-t-g)) + (var(--theme-primary-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-900: 0, 0%, calc(((((var(--theme-primary-9-r) * var(--theme-t-r)) + (var(--theme-primary-9-g) * var(--theme-t-g)) + (var(--theme-primary-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-100: 0, 0%, calc(((((var(--theme-secondary-1-r) * var(--theme-t-r)) + (var(--theme-secondary-1-g) * var(--theme-t-g)) + (var(--theme-secondary-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-200: 0, 0%, calc(((((var(--theme-secondary-2-r) * var(--theme-t-r)) + (var(--theme-secondary-2-g) * var(--theme-t-g)) + (var(--theme-secondary-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-300: 0, 0%, calc(((((var(--theme-secondary-3-r) * var(--theme-t-r)) + (var(--theme-secondary-3-g) * var(--theme-t-g)) + (var(--theme-secondary-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-400: 0, 0%, calc(((((var(--theme-secondary-4-r) * var(--theme-t-r)) + (var(--theme-secondary-4-g) * var(--theme-t-g)) + (var(--theme-secondary-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-500: 0, 0%, calc(((((var(--theme-secondary-5-r) * var(--theme-t-r)) + (var(--theme-secondary-5-g) * var(--theme-t-g)) + (var(--theme-secondary-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-600: 0, 0%, calc(((((var(--theme-secondary-6-r) * var(--theme-t-r)) + (var(--theme-secondary-6-g) * var(--theme-t-g)) + (var(--theme-secondary-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-700: 0, 0%, calc(((((var(--theme-secondary-7-r) * var(--theme-t-r)) + (var(--theme-secondary-7-g) * var(--theme-t-g)) + (var(--theme-secondary-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-800: 0, 0%, calc(((((var(--theme-secondary-8-r) * var(--theme-t-r)) + (var(--theme-secondary-8-g) * var(--theme-t-g)) + (var(--theme-secondary-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-900: 0, 0%, calc(((((var(--theme-secondary-9-r) * var(--theme-t-r)) + (var(--theme-secondary-9-g) * var(--theme-t-g)) + (var(--theme-secondary-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-100: 0, 0%, calc(((((var(--theme-success-1-r) * var(--theme-t-r)) + (var(--theme-success-1-g) * var(--theme-t-g)) + (var(--theme-success-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-200: 0, 0%, calc(((((var(--theme-success-2-r) * var(--theme-t-r)) + (var(--theme-success-2-g) * var(--theme-t-g)) + (var(--theme-success-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-300: 0, 0%, calc(((((var(--theme-success-3-r) * var(--theme-t-r)) + (var(--theme-success-3-g) * var(--theme-t-g)) + (var(--theme-success-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-400: 0, 0%, calc(((((var(--theme-success-4-r) * var(--theme-t-r)) + (var(--theme-success-4-g) * var(--theme-t-g)) + (var(--theme-success-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-500: 0, 0%, calc(((((var(--theme-success-5-r) * var(--theme-t-r)) + (var(--theme-success-5-g) * var(--theme-t-g)) + (var(--theme-success-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-600: 0, 0%, calc(((((var(--theme-success-6-r) * var(--theme-t-r)) + (var(--theme-success-6-g) * var(--theme-t-g)) + (var(--theme-success-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-700: 0, 0%, calc(((((var(--theme-success-7-r) * var(--theme-t-r)) + (var(--theme-success-7-g) * var(--theme-t-g)) + (var(--theme-success-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-800: 0, 0%, calc(((((var(--theme-success-8-r) * var(--theme-t-r)) + (var(--theme-success-8-g) * var(--theme-t-g)) + (var(--theme-success-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-900: 0, 0%, calc(((((var(--theme-success-9-r) * var(--theme-t-r)) + (var(--theme-success-9-g) * var(--theme-t-g)) + (var(--theme-success-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-100: 0, 0%, calc(((((var(--theme-danger-1-r) * var(--theme-t-r)) + (var(--theme-danger-1-g) * var(--theme-t-g)) + (var(--theme-danger-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-200: 0, 0%, calc(((((var(--theme-danger-2-r) * var(--theme-t-r)) + (var(--theme-danger-2-g) * var(--theme-t-g)) + (var(--theme-danger-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-300: 0, 0%, calc(((((var(--theme-danger-3-r) * var(--theme-t-r)) + (var(--theme-danger-3-g) * var(--theme-t-g)) + (var(--theme-danger-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-400: 0, 0%, calc(((((var(--theme-danger-4-r) * var(--theme-t-r)) + (var(--theme-danger-4-g) * var(--theme-t-g)) + (var(--theme-danger-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-500: 0, 0%, calc(((((var(--theme-danger-5-r) * var(--theme-t-r)) + (var(--theme-danger-5-g) * var(--theme-t-g)) + (var(--theme-danger-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-600: 0, 0%, calc(((((var(--theme-danger-6-r) * var(--theme-t-r)) + (var(--theme-danger-6-g) * var(--theme-t-g)) + (var(--theme-danger-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-700: 0, 0%, calc(((((var(--theme-danger-7-r) * var(--theme-t-r)) + (var(--theme-danger-7-g) * var(--theme-t-g)) + (var(--theme-danger-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-800: 0, 0%, calc(((((var(--theme-danger-8-r) * var(--theme-t-r)) + (var(--theme-danger-8-g) * var(--theme-t-g)) + (var(--theme-danger-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-900: 0, 0%, calc(((((var(--theme-danger-9-r) * var(--theme-t-r)) + (var(--theme-danger-9-g) * var(--theme-t-g)) + (var(--theme-danger-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
}

.is__theme-dark {
  --theme-primary-text-100: 0, 0%, calc(((((var(--theme-primary-9-r) * var(--theme-t-r)) + (var(--theme-primary-9-g) * var(--theme-t-g)) + (var(--theme-primary-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-200: 0, 0%, calc(((((var(--theme-primary-8-r) * var(--theme-t-r)) + (var(--theme-primary-8-g) * var(--theme-t-g)) + (var(--theme-primary-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-300: 0, 0%, calc(((((var(--theme-primary-7-r) * var(--theme-t-r)) + (var(--theme-primary-7-g) * var(--theme-t-g)) + (var(--theme-primary-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-400: 0, 0%, calc(((((var(--theme-primary-6-r) * var(--theme-t-r)) + (var(--theme-primary-6-g) * var(--theme-t-g)) + (var(--theme-primary-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-500: 0, 0%, calc(((((var(--theme-primary-5-r) * var(--theme-t-r)) + (var(--theme-primary-5-g) * var(--theme-t-g)) + (var(--theme-primary-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-600: 0, 0%, calc(((((var(--theme-primary-4-r) * var(--theme-t-r)) + (var(--theme-primary-4-g) * var(--theme-t-g)) + (var(--theme-primary-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-700: 0, 0%, calc(((((var(--theme-primary-3-r) * var(--theme-t-r)) + (var(--theme-primary-3-g) * var(--theme-t-g)) + (var(--theme-primary-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-800: 0, 0%, calc(((((var(--theme-primary-2-r) * var(--theme-t-r)) + (var(--theme-primary-2-g) * var(--theme-t-g)) + (var(--theme-primary-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-primary-text-900: 0, 0%, calc(((((var(--theme-primary-1-r) * var(--theme-t-r)) + (var(--theme-primary-1-g) * var(--theme-t-g)) + (var(--theme-primary-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-100: 0, 0%, calc(((((var(--theme-secondary-9-r) * var(--theme-t-r)) + (var(--theme-secondary-9-g) * var(--theme-t-g)) + (var(--theme-secondary-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-200: 0, 0%, calc(((((var(--theme-secondary-8-r) * var(--theme-t-r)) + (var(--theme-secondary-8-g) * var(--theme-t-g)) + (var(--theme-secondary-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-300: 0, 0%, calc(((((var(--theme-secondary-7-r) * var(--theme-t-r)) + (var(--theme-secondary-7-g) * var(--theme-t-g)) + (var(--theme-secondary-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-400: 0, 0%, calc(((((var(--theme-secondary-6-r) * var(--theme-t-r)) + (var(--theme-secondary-6-g) * var(--theme-t-g)) + (var(--theme-secondary-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-500: 0, 0%, calc(((((var(--theme-secondary-5-r) * var(--theme-t-r)) + (var(--theme-secondary-5-g) * var(--theme-t-g)) + (var(--theme-secondary-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-600: 0, 0%, calc(((((var(--theme-secondary-4-r) * var(--theme-t-r)) + (var(--theme-secondary-4-g) * var(--theme-t-g)) + (var(--theme-secondary-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-700: 0, 0%, calc(((((var(--theme-secondary-3-r) * var(--theme-t-r)) + (var(--theme-secondary-3-g) * var(--theme-t-g)) + (var(--theme-secondary-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-800: 0, 0%, calc(((((var(--theme-secondary-2-r) * var(--theme-t-r)) + (var(--theme-secondary-2-g) * var(--theme-t-g)) + (var(--theme-secondary-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-secondary-text-900: 0, 0%, calc(((((var(--theme-secondary-1-r) * var(--theme-t-r)) + (var(--theme-secondary-1-g) * var(--theme-t-g)) + (var(--theme-secondary-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-100: 0, 0%, calc(((((var(--theme-success-9-r) * var(--theme-t-r)) + (var(--theme-success-9-g) * var(--theme-t-g)) + (var(--theme-success-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-200: 0, 0%, calc(((((var(--theme-success-8-r) * var(--theme-t-r)) + (var(--theme-success-8-g) * var(--theme-t-g)) + (var(--theme-success-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-300: 0, 0%, calc(((((var(--theme-success-7-r) * var(--theme-t-r)) + (var(--theme-success-7-g) * var(--theme-t-g)) + (var(--theme-success-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-400: 0, 0%, calc(((((var(--theme-success-6-r) * var(--theme-t-r)) + (var(--theme-success-6-g) * var(--theme-t-g)) + (var(--theme-success-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-500: 0, 0%, calc(((((var(--theme-success-5-r) * var(--theme-t-r)) + (var(--theme-success-5-g) * var(--theme-t-g)) + (var(--theme-success-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-600: 0, 0%, calc(((((var(--theme-success-4-r) * var(--theme-t-r)) + (var(--theme-success-4-g) * var(--theme-t-g)) + (var(--theme-success-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-700: 0, 0%, calc(((((var(--theme-success-3-r) * var(--theme-t-r)) + (var(--theme-success-3-g) * var(--theme-t-g)) + (var(--theme-success-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-800: 0, 0%, calc(((((var(--theme-success-2-r) * var(--theme-t-r)) + (var(--theme-success-2-g) * var(--theme-t-g)) + (var(--theme-success-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-success-text-900: 0, 0%, calc(((((var(--theme-success-1-r) * var(--theme-t-r)) + (var(--theme-success-1-g) * var(--theme-t-g)) + (var(--theme-success-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-100: 0, 0%, calc(((((var(--theme-danger-9-r) * var(--theme-t-r)) + (var(--theme-danger-9-g) * var(--theme-t-g)) + (var(--theme-danger-9-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-200: 0, 0%, calc(((((var(--theme-danger-8-r) * var(--theme-t-r)) + (var(--theme-danger-8-g) * var(--theme-t-g)) + (var(--theme-danger-8-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-300: 0, 0%, calc(((((var(--theme-danger-7-r) * var(--theme-t-r)) + (var(--theme-danger-7-g) * var(--theme-t-g)) + (var(--theme-danger-7-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-400: 0, 0%, calc(((((var(--theme-danger-6-r) * var(--theme-t-r)) + (var(--theme-danger-6-g) * var(--theme-t-g)) + (var(--theme-danger-6-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-500: 0, 0%, calc(((((var(--theme-danger-5-r) * var(--theme-t-r)) + (var(--theme-danger-5-g) * var(--theme-t-g)) + (var(--theme-danger-5-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-600: 0, 0%, calc(((((var(--theme-danger-4-r) * var(--theme-t-r)) + (var(--theme-danger-4-g) * var(--theme-t-g)) + (var(--theme-danger-4-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-700: 0, 0%, calc(((((var(--theme-danger-3-r) * var(--theme-t-r)) + (var(--theme-danger-3-g) * var(--theme-t-g)) + (var(--theme-danger-3-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-800: 0, 0%, calc(((((var(--theme-danger-2-r) * var(--theme-t-r)) + (var(--theme-danger-2-g) * var(--theme-t-g)) + (var(--theme-danger-2-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
  --theme-danger-text-900: 0, 0%, calc(((((var(--theme-danger-1-r) * var(--theme-t-r)) + (var(--theme-danger-1-g) * var(--theme-t-g)) + (var(--theme-danger-1-b) * var(--theme-t-b))) / 255) - var(--theme-t)) * -10000000%);
}

:root {
  --theme-focus-primary: 0 0 0 3px hsla(var(--theme-primary-500), 1), 0 0 0 6px hsla(var(--theme-primary-500), 0.5);
  --theme-focus-secondary: 0 0 0 3px hsla(var(--theme-secondary-500), 1), 0 0 0 6px hsla(var(--theme-secondary-500), 0.5);
  --theme-focus-danger: 0 0 0 3px hsla(var(--theme-danger-500), 1), 0 0 0 6px hsla(var(--theme-danger-500), 0.5);
  --theme-focus-success: 0 0 0 3px hsla(var(--theme-success-500), 1), 0 0 0 6px hsla(var(--theme-success-500), 0.5);
}

.is__theme-light {
  --theme-secondary-shadow: 0 2em 28em hsla(var(--theme-secondary-1-h), calc(var(--theme-secondary-1-s) * 1%), 25%, 0.5);
}

.is__theme-dark {
  --theme-secondary-shadow: 0 2em 28em hsla(var(--theme-secondary-1-h), calc(var(--theme-secondary-1-s) * 1%), 0%, 0.5);
}

:root {
  --theme-shadow: 50;
  --theme-shadow-size-small: calc(calc(var(--theme-shadow) / 100) * 1);
  --theme-shadow-size-medium: calc(calc(var(--theme-shadow) / 100) * 2);
  --theme-shadow-size-large: calc(calc(var(--theme-shadow) / 100) * 3);
  --theme-shadow-offset-base: 20;
  --theme-shadow-offset-y: calc(calc(var(--theme-shadow-offset-base) / 1000) * 1em);
  --theme-shadow-blur-base: 20;
  --theme-shadow-blur: calc(calc(var(--theme-shadow-blur-base) / 1000) * 1em);
  --theme-shadow-opacity-base: 20;
  --theme-shadow-opacity: calc(var(--theme-shadow-opacity-base) / 1000);
  --theme-shadow-bottom-small:
    0 calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-offset-y) * 2)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-offset-y) * 4)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-offset-y) * 8)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-offset-y) * 16)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 4)));
  --theme-shadow-bottom-medium:
    0 calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-offset-y) * 2)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-offset-y) * 4)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-offset-y) * 8)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-offset-y) * 16)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 4)));
  --theme-shadow-bottom-large:
    0 calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-offset-y) * 2)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-offset-y) * 4)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-offset-y) * 8)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-offset-y) * 16)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 4)));
  --theme-shadow-top-small:
    0 calc(var(--theme-shadow-size-small) * calc(calc(var(--theme-shadow-offset-y) * -1) * 2)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-small) * calc(calc(var(--theme-shadow-offset-y) * -1) * 4)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-small) * calc(calc(var(--theme-shadow-offset-y) * -1) * 8)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-small) * calc(calc(var(--theme-shadow-offset-y) * -1) * 16)) calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-small) * calc(var(--theme-shadow-opacity) * 4)));
  --theme-shadow-top-medium:
    0 calc(var(--theme-shadow-size-medium) * calc(calc(var(--theme-shadow-offset-y) * -1) * 2)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-medium) * calc(calc(var(--theme-shadow-offset-y) * -1) * 4)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-medium) * calc(calc(var(--theme-shadow-offset-y) * -1) * 8)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-medium) * calc(calc(var(--theme-shadow-offset-y) * -1) * 16)) calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-medium) * calc(var(--theme-shadow-opacity) * 4)));
  --theme-shadow-top-large:
    0 calc(var(--theme-shadow-size-large) * calc(calc(var(--theme-shadow-offset-y) * -1) * 2)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 4)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 1))),
    0 calc(var(--theme-shadow-size-large) * calc(calc(var(--theme-shadow-offset-y) * -1) * 4)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 8)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 2))),
    0 calc(var(--theme-shadow-size-large) * calc(calc(var(--theme-shadow-offset-y) * -1) * 8)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 16)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 3))),
    0 calc(var(--theme-shadow-size-large) * calc(calc(var(--theme-shadow-offset-y) * -1) * 16)) calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-blur) * 32)) rgba(0, 0, 0, calc(var(--theme-shadow-size-large) * calc(var(--theme-shadow-opacity) * 4)));
}

:root {
  --theme-toggle-size: 1em;
  --theme-toggle-border: 2px;
  --theme-toggle-text: var(--theme-text);
}

.theme__style-toggle {
  display: flex;
  position: relative;
}

.theme__style-input {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  display: block;
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.theme__style-label {}

.theme__style-text {
  position: relative;
  display: flex;
}

.theme__style-text-light,
.theme__style-text-dark {
  display: none;
}

.is__theme-light .theme__style-text-light {
  display: block;
}

.is__theme-dark .theme__style-text-dark {
  display: block;
}

.theme__style-icon {
  background-color: rgb(var(--theme-toggle-text));
  border-radius: 100%;
  width: var(--theme-toggle-size);
  height: var(--theme-toggle-size);
  position: relative;
  overflow: hidden;
  transition: background-color var(--layout-transition-extra-fast);
}

.theme__style-icon:before {
  content: "";
  background-color: hsl(var(--theme-secondary-800));
  border-radius: 100%;
  width: calc(var(--theme-toggle-size) - calc(var(--theme-toggle-border) * 2));
  height: calc(var(--theme-toggle-size) - calc(var(--theme-toggle-border) * 2));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color var(--layout-transition-extra-fast);
  z-index: 2;
}

.theme__style-icon:after {
  content: "";
  background-color: rgb(var(--theme-toggle-text));
  width: var(--theme-toggle-size);
  height: var(--theme-toggle-size);
  position: absolute;
  top: 0;
  left: -60%;
  transition: left var(--layout-duration-08) var(--layout-timing-bounce), background-color var(--layout-transition-extra-fast);
  z-index: 3;
}

.theme__style-input:checked+.theme__style-label .theme__style-icon:after {
  left: 60%;
}
