@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1.2);
  }
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-1.2em, 0, 0);
  }

  20% {
    transform: translate3d(1.2em, 0, 0);
  }

  30% {
    transform: translate3d(-1em, 0, 0);
  }

  40% {
    transform: translate3d(1em, 0, 0);
  }

  50% {
    transform: translate3d(-0.8em, 0, 0);
  }

  60% {
    transform: translate3d(0.8em, 0, 0);
  }

  70% {
    transform: translate3d(-0.3em, 0, 0);
  }

  80% {
    transform: translate3d(0.3em, 0, 0);
  }

  90% {
    transform: translate3d(-0.1em, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  75% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes nudgeRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nudgeLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
