.is__hidden {
  display: none !important;
}

.is__inline-block {
  display: inline-block !important;
}

.is__block {
  display: block !important;
}

.is__transparent {
  opacity: 0 !important;
}

.is__opaque {
  opacity: 1 !important;
}

.is__invisible {
  visibility: hidden !important;
}

.is__visible {
  visibility: visible !important;
}

.is__scroll-disabled {
  overflow: hidden !important;
}

.is__small {
  transform: scale(0.5) !important;
}

.is__large {
  transform: scale(1.5) !important;
}

.is__shake {
  animation: shake var(--layout-transition-slow) 1;
}

.is__pop {
  animation: pop var(--layout-transition-slow) 1;
}

.is__appear {
  animation: appear var(--layout-transition-extra-fast) 1;
}
