.list__inline {
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list__unstyled {
  list-style-type: none;
  padding: 0;
}

.list__unstyled li:not(:last-child) {
  list-style-type: none;
  margin-bottom: 0;
}

.list__border li:not(:last-child) {
  border-bottom: var(--layout-horizontal-rule-small);
  margin-bottom: calc(calc(var(--layout-gap) / 20) * 1vw);
  padding-bottom: calc(calc(var(--layout-gap) / 20) * 1vw);
  transition: border-bottom var(--layout-transition-extra-fast);
}

.list__padding li:not(:first-child) {
  margin-top: calc(calc(var(--layout-gap) / 20) * 1vw);
}

.list__padding li:not(:last-child) {
  margin-bottom: calc(calc(var(--layout-gap) / 20) * 1vw);
}

.text__pullout {
  font-size: calc(calc(var(--heading-size) * 0.8) * 0.1em);
  line-height: 1.6;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-ui-style);
}

.text__small {
  font-size: 0.8em;
}

.text__muted {
  color: hsl(var(--theme-secondary-500));
}

.scroll__disabled {
  overflow: hidden;
}

.scroll__x-disabled {
  overflow-x: hidden;
}

.scroll__y-disabled {
  overflow-y: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
