:root {
  --form-label: var(--theme-text);
  --form-label-hover: var(--theme-text);
  --form-label-focus-active: var(--theme-text);
  --form-label-checked: var(--theme-text);
  --form-label-disabled: var(--theme-secondary-600);
}

:root {
  --form-input-background: var(--theme-secondary-900);
  --form-input-background-hover: var(--theme-secondary-900);
  --form-input-background-focus-active: var(--theme-secondary-900);
  --form-input-background-disabled: var(--theme-secondary-800);
  --form-input-text: var(--theme-text);
  --form-input-text-hover: var(--theme-text);
  --form-input-text-focus-active: var(--theme-text);
  --form-input-text-disabled: var(--theme-secondary-700);
}

:root {
  --form-placeholder: var(--theme-secondary-600);
  --form-placeholder-focus-hover: var(--theme-secondary-500);
  --form-placeholder-disabled: var(--theme-secondary-700);
}

:root {
  --form-feedback-background: var(--theme-secondary-900);
  --form-feedback-background-disabled: var(--theme-secondary-900);
  --form-feedback-border: var(--theme-secondary-500);
  --form-feedback-border-disabled: var(--theme-secondary-800);
  --form-feedback-text: var(--theme-text);
  --form-feedback-text-muted: var(--theme-secondary-400);
  --form-feedback-text-disabled: var(--theme-secondary-700);
}

:root {
  --form-wrap-space: calc(var(--layout-gutter) / 2);
}

form {
  display: grid;
  gap: calc(var(--layout-gutter) * 2);
  position: relative;
  width: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

fieldset:not(:last-child):not(:only-child):after {
  content: "";
  position: absolute;
  bottom: calc(var(--layout-gutter) * -1);
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid hsl(var(--theme-secondary-800));
  transition: border-bottom var(--layout-transition-extra-fast);
}

.form__wrap {
  position: relative;
  width: 100%;
  display: block;
}

.form__wrap:not(:first-child) {
  margin-top: var(--form-wrap-space);
}

.form__wrap:not(:last-child) {
  margin-bottom: var(--form-wrap-space);
}

.form__inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--form-wrap-space);
}

.form__inline>* {
  flex-grow: 0;
  width: initial;
  display: inline-block;
}

.form__inline>.form__wrap:not(:first-child),
.form__inline>.form__wrap:not(:last-child) {
  margin: 0;
}

.form__align-bottom {
  align-items: flex-end;
}

.form__item-shrink,
.form__inline>.form__item-shrink {
  flex-grow: 0;
}

.form__item-grow,
.form__inline>.form__item-grow {
  flex-grow: 1;
}

.form__group {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--form-wrap-space);
}

.form__group:not(:first-child) {
  margin-top: var(--form-wrap-space);
}

.form__group:not(:last-child) {
  margin-bottom: var(--form-wrap-space);
}

.form__group>.form__wrap {
  display: flex;
  align-items: center;
}

.form__group>.form__wrap:not(:first-child),
.form__group>.form__wrap:not(:last-child) {
  margin-top: 0;
  margin-bottom: 0;
}

.form__group-block {
  display: flex;
  width: 100%;
}

.form__group-item-grow {
  flex-grow: 1;
}

.form__group-item-text {
  width: 8em;
}

.form__indent {
  margin-left: calc(var(--form-wrap-space) * 2.25);
  position: relative;
  width: 100%;
}

.label,
label {
  padding: 0;
  margin-bottom: 0;
  color: rgb(var(--form-label));
  font-size: 1em;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-ui-style);
  display: block;
  transition: color var(--layout-transition-extra-fast);
}

label.disabled {
  color: hsl(var(--form-label-disabled));
}

input[type="radio"]:focus+label.button,
input[type="radio"]:hover+label.button,
input[type="checkbox"]:focus+label.button,
input[type="checkbox"]:hover+label.button {
  background-color: hsl(var(--button-background-focus-hover));
  color: rgb(var(--button-text-focus-hover));
  outline: none;
  text-decoration: none;
}

input[type="radio"]:active+label.button,
input[type="checkbox"]:active+label.button {
  background-color: hsl(var(--button-background-active));
  color: rgb(var(--button-text-active));
  outline: none;
  text-decoration: none;
  transition: none;
}

input[type="radio"]:disabled+label.button,
input[type="radio"]:disabled+label.button:hover,
input[type="radio"]:disabled+label.button:focus,
input[type="radio"]:disabled+label.button:active,
input[type="checkbox"]:disabled+label.button,
input[type="checkbox"]:disabled+label.button:hover,
input[type="checkbox"]:disabled+label.button:focus,
input[type="checkbox"]:disabled+label.button:active {
  background-color: hsl(var(--button-background-disabled));
  color: hsl(var(--button-text-disabled));
  cursor: default;
  text-decoration: none;
}

input[type="radio"]:focus+label.button__ring.button__primary,
input[type="checkbox"]:focus+label.button__ring.button__primary {
  box-shadow: var(--theme-focus-primary);
}

input[type="radio"]:active+label.button__ring.button__primary,
input[type="checkbox"]:active+label.button__ring.button__primary {
  box-shadow: var(--theme-focus-primary);
}

input[type="radio"]:focus+label.button__ring.button__secondary,
input[type="checkbox"]:focus+label.button__ring.button__secondary {
  box-shadow: var(--theme-focus-secondary);
}

input[type="radio"]:active+label.button__ring.button__secondary,
input[type="checkbox"]:active+label.button__ring.button__secondary {
  box-shadow: var(--theme-focus-secondary);
}

input[type="radio"]:focus+label.button__ring.button__danger,
input[type="checkbox"]:focus+label.button__ring.button__danger {
  box-shadow: var(--theme-focus-danger);
}

input[type="radio"]:active+label.button__ring.button__danger,
input[type="checkbox"]:active+label.button__ring.button__danger {
  box-shadow: var(--theme-focus-danger);
}

input[type="radio"]:focus+label.button__ring.button__success,
input[type="checkbox"]:focus+label.button__ring.button__success {
  box-shadow: var(--theme-focus-success);
}

input[type="radio"]:active+label.button__ring.button__success,
input[type="checkbox"]:active+label.button__ring.button__success {
  box-shadow: var(--theme-focus-success);
}

input[type="radio"]:focus+label.button__ring.button__link,
input[type="checkbox"]:focus+label.button__ring.button__link {
  box-shadow: var(--theme-focus-secondary);
}

input[type="radio"]:active+label.button__ring.button__link,
input[type="checkbox"]:active+label.button__ring.button__link {
  box-shadow: var(--theme-focus-secondary);
}

input[type="radio"]:disabled+label.button__ring,
input[type="radio"]:disabled+label.button__ring:focus,
input[type="radio"]:disabled+label.button__ring:hover,
input[type="radio"]:disabled+label.button__ring:active,
input[type="checkbox"]:disabled+label.button__ring,
input[type="checkbox"]:disabled+label.button__ring:focus,
input[type="checkbox"]:disabled+label.button__ring:hover,
input[type="checkbox"]:disabled+label.button__ring:active {
  box-shadow: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
  /* background-color: hsl(var(--form-input-background)); */
  background-color: transparent;
  padding: 0 1.25em;
  margin: 0;
  color: hsl(var(--form-input-text));
  font-size: 1em;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-ui-style);
  caret-color: hsl(var(--theme-primary-400));
  line-height: 1.6;
  height: 2.5em;
  min-width: 0;
  width: 100%;
  border-width: 0;
  border-radius: 100em;
  cursor: text;
  transition: background-color var(--layout-transition-extra-fast), border-color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover {
  /* background-color: hsl(var(--form-input-background-hover)); */
  background-color: transparent;
  color: hsl(var(--form-input-text-hover));
  outline: none;
}

input[type="email"]:focus,
input[type="email"]:active,
input[type="number"]:focus,
input[type="number"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="text"]:focus,
input[type="text"]:active {
  /* background-color: hsl(var(--form-input-background-focus-active)); */
  background-color: transparent;
  color: hsl(var(--form-input-text-focus-active));
  outline: none;
  z-index: 2;
  box-shadow: var(--theme-focus-primary);
}

input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  background-color: hsl(var(--form-input-background-disabled));
  color: hsl(var(--form-input-text-disabled));
  cursor: default;
  box-shadow: none;
}

input[type="email"]:disabled:hover,
input[type="email"]:disabled:focus,
input[type="number"]:disabled:hover,
input[type="number"]:disabled:focus,
input[type="password"]:disabled:hover,
input[type="password"]:disabled:focus,
input[type="search"]:disabled:hover,
input[type="search"]:disabled:focus,
input[type="tel"]:disabled:hover,
input[type="tel"]:disabled:focus,
input[type="text"]:disabled:hover,
input[type="text"]:disabled:focus {
  color: hsl(var(--form-input-text-disabled));
}

input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder {
  color: hsl(var(--form-placeholder));
  transition: color var(--layout-transition-extra-fast);
}

input[type="email"]:hover::placeholder,
input[type="number"]:hover::placeholder,
input[type="password"]:hover::placeholder,
input[type="search"]:hover::placeholder,
input[type="tel"]:hover::placeholder,
input[type="text"]:hover::placeholder {
  color: hsl(var(--form-placeholder-focus-hover));
}

input[type="email"]:focus::placeholder,
input[type="number"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="search"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="text"]:focus::placeholder {
  color: hsl(var(--form-placeholder-focus-hover));
}

input[type="email"]:disabled::placeholder,
input[type="email"]:disabled:hover::placeholder,
input[type="email"]:disabled:focus::placeholder,
input[type="number"]:disabled::placeholder,
input[type="number"]:disabled:hover::placeholder,
input[type="number"]:disabled:focus::placeholder,
input[type="password"]:disabled::placeholder,
input[type="password"]:disabled:hover::placeholder,
input[type="password"]:disabled:focus::placeholder,
input[type="search"]:disabled::placeholder,
input[type="search"]:disabled:hover::placeholder,
input[type="search"]:disabled:focus::placeholder,
input[type="tel"]:disabled::placeholder,
input[type="tel"]:disabled:hover::placeholder,
input[type="tel"]:disabled:focus::placeholder,
input[type="text"]:disabled::placeholder,
input[type="text"]:disabled:hover::placeholder,
input[type="text"]:disabled:focus::placeholder {
  color: hsl(var(--form-placeholder-disabled));
}

:root {
  --form-range-track-background: var(--theme-secondary-700);
  --form-range-track-background-hover: var(--theme-secondary-600);
  --form-range-track-background-focus: var(--theme-secondary-600);
  --form-range-track-background-disabled: var(--theme-secondary-700);
  --form-range-thumb-size: 1.5em;
  --form-range-thumb-background: var(--theme-secondary-100);
  --form-range-thumb-background-disabled: var(--theme-secondary-600);
}

input[type="range"] {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1em;
  display: block;
  height: 2.5em;
  width: 100%;
  position: relative;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

input[type="range"],
input[type="range"]:hover,
input[type="range"]:focus,
input[type="range"]:active {
  outline: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: hsl(var(--form-range-track-background));
  padding: 0;
  margin: 0;
  height: calc(var(--layout-line-width) * 2);
  border: 0;
  border-radius: 10em;
  transition: background-color var(--layout-transition-extra-fast);
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background-color: hsl(var(--form-range-track-background-hover));
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: hsl(var(--form-range-track-background-focus));
}

input[type="range"]:disabled::-webkit-slider-runnable-track,
input[type="range"]:disabled:hover::-webkit-slider-runnable-track,
input[type="range"]:disabled:focus::-webkit-slider-runnable-track {
  background-color: hsl(var(--form-range-track-background-disabled));
}

input[type="range"]::-webkit-slider-thumb {
  background-color: hsl(var(--form-range-thumb-background));
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100%;
  width: var(--form-range-thumb-size);
  height: var(--form-range-thumb-size);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  cursor: pointer;
  box-shadow: var(--theme-shadow-bottom-large);
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: background-color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: var(--theme-focus-primary);
}

input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled:hover::-webkit-slider-thumb,
input[type="range"]:disabled:focus::-webkit-slider-thumb {
  background-color: hsl(var(--form-range-thumb-background-disabled));
  box-shadow: none;
}

input[type="range"]::-moz-range-track {
  background-color: hsl(var(--form-range-track-background));
  padding: 0;
  margin: 0;
  height: calc(var(--layout-line-width) * 2);
  border: 0;
  border-radius: 10em;
  transition: background-color var(--layout-transition-extra-fast);
}

input[type="range"]:hover::-moz-range-track {
  background-color: hsl(var(--form-range-track-background-hover));
}

input[type="range"]:focus::-moz-range-track {
  background-color: hsl(var(--form-range-track-background-focus));
}

input[type="range"]:disabled::-moz-range-track,
input[type="range"]:disabled:hover::-moz-range-track,
input[type="range"]:disabled:focus::-moz-range-track {
  background-color: hsl(var(--form-range-track-background-disabled));
}

input[type="range"]::-moz-range-thumb {
  background-color: hsl(var(--form-range-thumb-background));
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100%;
  width: var(--form-range-thumb-size);
  height: var(--form-range-thumb-size);
  position: relative;
  cursor: pointer;
  box-shadow: var(--theme-shadow-bottom-large);
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: background-color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: var(--theme-focus-primary);
}

input[type="range"]:disabled::-moz-range-thumb,
input[type="range"]:disabled:hover::-moz-range-thumb,
input[type="range"]:disabled:focus::-moz-range-thumb {
  background-color: hsl(var(--form-range-thumb-background-disabled));
  box-shadow: none;
}

input[type="range"].input__hue-spectrum::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right,
      hsl(0, 100%, 50%),
      hsl(30, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(90, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(150, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(210, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(270, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(330, 100%, 50%),
      hsl(360, 100%, 50%));
}

input[type="range"]:disabled.input__hue-spectrum::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right,
      hsl(0, 10%, 50%),
      hsl(30, 10%, 50%),
      hsl(60, 10%, 50%),
      hsl(90, 10%, 50%),
      hsl(120, 10%, 50%),
      hsl(150, 10%, 50%),
      hsl(180, 10%, 50%),
      hsl(210, 10%, 50%),
      hsl(240, 10%, 50%),
      hsl(270, 10%, 50%),
      hsl(300, 10%, 50%),
      hsl(330, 10%, 50%),
      hsl(360, 10%, 50%));
}

select {
  background-color: hsl(var(--form-input-background));
  padding: 0 1em;
  margin: 0;
  color: rgb(var(--form-label));
  font-size: 1em;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-ui-style);
  line-height: 2.5;
  min-height: 2.5em;
  min-width: 0;
  width: 100%;
  border-width: 0;
  border-radius: 100em;
  cursor: pointer;
  transition: background-color var(--layout-transition-extra-fast), border-color var(--layout-transition-extra-fast), color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select option {
  color: rgb(var(--theme-black));
}

select:hover {
  background-color: rgb(var(--form-input-background-hover));
  color: rgb(var(--form-label-hover));
  outline: none;
}

select:focus,
select:active {
  background-color: rgb(var(--form-input-background-border-focus-active));
  color: rgb(var(--form-label-focus-active));
  outline: none;
  z-index: 2;
  box-shadow: var(--theme-focus-primary);
}

select:disabled,
select:disabled:hover,
select:disabled:focus,
select:disabled:active {
  background-color: rgb(var(--form-input-background-disabled));
  color: rgb(var(--form-input-text-disabled));
  cursor: default;
  box-shadow: none;
}

.select__small,
.input__small[type="email"],
.input__small[type="number"],
.input__small[type="password"],
.input__small[type="search"],
.input__small[type="tel"],
.input__small[type="text"] {
  font-size: 0.75em;
}

.form__feedback {
  padding: 0.75em 1.25em;
  background-color: hsl(var(--form-feedback-background));
  border-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: hsl(var(--form-feedback-border));
  border-top-right-radius: var(--theme-radius);
  border-bottom-right-radius: var(--theme-radius);
  width: 100%;
  transition: background-color var(--layout-transition-extra-fast), border-color var(--layout-transition-extra-fast);
}

.form__feedback p {
  color: hsl(var(--form-feedback-text));
}

.form__feedback p.text__muted {
  color: hsl(var(--form-feedback-text-muted));
}

.form__feedback.disabled {
  background-color: hsl(var(--form-feedback-background-disabled));
  border-color: hsl(var(--form-feedback-border-disabled));
}

.form__feedback.disabled p {
  color: hsl(var(--form-feedback-text-disabled));
}
