.toolbar {
  background-color: hsl(var(--theme-secondary-800));
  padding: 0 calc(var(--layout-gutter) / 2);
  font-size: 1rem;
  height: 100%;
  box-shadow: 0 2em 4em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--layout-gutter) / 4);
  transition: background-color var(--layout-transition-extra-fast);
}

@media (min-width: 1000px) {
  .toolbar {
    padding: 0 var(--layout-gutter);
    gap: calc(var(--layout-gutter) / 2);
  }
}
