:root {
  --formula-size: 2.5em;
  --formula-input-height: var(--formula-size);
}

.formula {
  font-size: 1rem;
  position: relative;
}

.formula__body {
  background-color: hsl(var(--card-background));
  border: var(--card-border);
  display: grid;
  grid-template-columns: 100%;
  z-index: 1;
  border-radius: calc(var(--theme-radius) * 8);
  transition: background-color var(--layout-transition-extra-fast), border var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
}

.formula__control {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2
}

.formula__set {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formula__set:not(:last-child):not(:only-child) {
  border-bottom: var(--card-border);
  transition: border-bottom var(--layout-transition-extra-fast);
}

.formula__set:not(:last-child):not(:only-child):after {
  background-color: hsl(var(--card-background));
  padding: 0 var(--layout-gutter);
  content: "AND";
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 0.75em;
  font-family: var(--font-ui-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-ui-style);
  color: hsl(var(--theme-secondary-500));
  transform: translate(-50%, 50%);
  transition: background-color var(--layout-transition-extra-fast), color var(--layout-transition-extra-fast);
}

.formula__item {
  display: flex;
  position: relative;
  z-index: 1;
}

.formula__remove {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.formula__size-select {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: var(--theme-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
}

.formula__size-select:hover,
.formula__size-select:focus,
.formula__size-select:active {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.formula__size-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  pointer-events: none;
  z-index: 1;
}

.formula__size-text {
  text-align: center;
}

@media (min-width: 1000px) {
  .formula__size-text {
    padding-left: 0.75em;
  }
}

.formula__size-text {
  font-size: var(--formula-size);
  line-height: calc(var(--formula-input-height) / 2);
  height: calc(var(--formula-input-height) / 2);
  font-family: var(--font-display-name);
  font-weight: var(--font-weight-extra-light);
  font-style: var(--font-display-style);
  border-radius: calc(var(--theme-radius) / 2);
}

.formula__size-icon {
  font-size: 0.75em;
}

.formula__size-select,
.formula__count-input,
.formula__modifier-input {
  touch-action: none;
}

.formula__count-input,
.formula__count-input[type=number],
.formula__count-input[type=text] {
  padding: 0 0.25em 0 0;
}

.formula__modifier-input,
.formula__modifier-input[type=number],
.formula__modifier-input[type=text] {
  padding: 0 0 0 0.25em;
}

@media (min-width: 1000px) {

  .formula__count-input,
  .formula__count-input[type=number],
  .formula__count-input[type=text],
  .formula__modifier-input,
  .formula__modifier-input[type=number],
  .formula__modifier-input[type=text] {
    padding: 0 0.5em;
  }
}

.formula__count-input,
.formula__count-input[type=number],
.formula__count-input[type=text] {
  text-align: right;
}

.formula__modifier-input,
.formula__modifier-input[type=number],
.formula__modifier-input[type=text] {
  text-align: left;
}

.formula__count-input,
.formula__count-input[type=number],
.formula__count-input[type=text],
.formula__modifier-input,
.formula__modifier-input[type=number],
.formula__modifier-input[type=text] {
  font-size: var(--formula-size);
  line-height: calc(var(--formula-input-height) / 2);
  font-family: var(--font-display-name);
  font-weight: var(--font-weight-extra-light);
  font-style: var(--font-display-style);
  border-radius: calc(var(--theme-radius) / 2);
}

.formula__set:first-child .formula__count-input,
.formula__set[type=number]:first-child .formula__count-input,
.formula__set[type=text]:first-child .formula__count-input {
  border-top-left-radius: calc(var(--theme-radius) * 3.2);
}

.formula__set:last-child .formula__count-input,
.formula__set[type=number]:last-child .formula__count-input,
.formula__set[type=text]:last-child .formula__count-input {
  border-bottom-left-radius: calc(var(--theme-radius) * 3.2);
}

.formula__set:first-child .formula__modifier-input,
.formula__set[type=number]:first-child .formula__modifier-input,
.formula__set[type=text]:first-child .formula__modifier-input {
  border-top-right-radius: calc(var(--theme-radius) * 3.2);
}

.formula__set:last-child .formula__modifier-input,
.formula__set[type=number]:last-child .formula__modifier-input,
.formula__set[type=text]:last-child .formula__modifier-input {
  border-bottom-right-radius: calc(var(--theme-radius) * 3.2);
}
