.result {
  height: 100%;
  font-size: 1rem;
  display: grid;
  align-items: center;
  gap: 2em;
}

.result__item {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
}

.result__item:not(:last-child):not(:only-child):after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid hsl(var(--theme-secondary-700));
  transition: border-bottom var(--layout-transition-extra-fast);
}

.result__total {
  font-size: 3em;
  line-height: 1.25;
  min-width: 2.5em;
  font-family: var(--font-display-name);
  font-weight: var(--font-weight-extra-light);
  font-style: var(--font-display-style);
  text-align: center;
}

@media (min-width: 800px) {
  .result__total {
    text-align: left;
    font-size: 2.5em;
  }
}

.result__details {
  font-size: 0.75em;
  color: hsl(var(--theme-secondary-300));
  font-weight: var(--font-weight-bold);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.result__formula {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
}

.result__formula-dice {
  color: hsl(var(--theme-primary-200));
  min-width: 7em;
  white-space: nowrap;
}

.result__rolls {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.result__details,
.result__rolls-list,
.result__rolls-list-item,
.result__name,
.result__timestamp {
  line-height: 2em;
}

.result__name {
  color: hsl(var(--theme-secondary-100));
}

.result__timestamp {
  color: hsl(var(--theme-secondary-500));
}

.result__rolls-list {
  gap: 0.25em;
}

.result__rolls-list-item {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__critical-success,
.result__critical-failure {
  font-family: var(--font-display-name);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-display-style);
}

.is-theme-light .result__critical-success,
.is-theme-light .result__critical-failure {
  color: rgb(var(--theme-white));
}

.is-theme-dark .result__critical-success,
.is-theme-dark .result__critical-failure {
  color: rgb(var(--theme-black));
}

.result__critical-success {
  background-color: hsl(var(--theme-success-300));
}

.result__critical-failure {
  background-color: hsl(var(--theme-danger-300));
}
