.saved {
  background-color: hsl(var(--theme-secondary-900));
  font-size: 1rem;
  border-radius: calc(var(--theme-radius) * 4);
  position: relative;
  box-shadow: 0 2em 4em rgba(0, 0, 0, 0.2);
  transition: background-color var(--layout-transition-extra-fast);
}

.saved__body {
  display: grid;
  grid-template-columns: 100%;
  z-index: 1;
}

.saved__item {
  display: grid;
}
