.saved {
  font-size: 1rem;
  display: grid;
  gap: calc(var(--layout-gutter) / 1);
  justify-items: center;
  transition: background-color var(--layout-transition-extra-fast);
}

.saved__body {
  width: 100%;
  display: grid;
  gap: 2em;
}

.saved__item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: stretch;
  align-items: start;
  gap: 0.5em 1em;
  grid-template-areas:
    'controls name roll'
    'controls formula roll';
}

.saved__item:not(:last-child):not(:only-child):after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid hsl(var(--theme-secondary-700));
  transition: border-bottom var(--layout-transition-extra-fast);
}

.saved__controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25em;
}

.saved__remove {}

.saved__up {}

.saved__down {}

.saved__roll {
  grid-area: roll;
}

.saved__name,
.saved__name[type=number],
.saved__name[type=text] {
  border-radius: calc(var(--theme-radius) * 10);
  grid-area: name;
}

.saved__formula {
  padding: 0 1.25em;
  font-size: 0.75em;
  color: hsl(var(--theme-primary-200));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25em 0.75em;
  grid-area: formula;
}
